*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-bottom: 0;
    
}
.mySlides {
    display:none;
}
img{
    height:40rem;
    width:120vw;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(44, 40, 40) 6px;
}
@font-face {
    font-family:luckiestGuy;
    src: url(LuckiestGuy-Regular.ttf)
} 
.text {
    padding-top: 2rem;
    color: orange;
    font-size: 100px;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-family: luckiestGuy;
    text-shadow: 14px 14px 16px black;
    margin-bottom: 0;
    -webkit-text-stroke: black 0.1rem;
}
 
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgb(145, 101, 21, 0.8);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*body of the webpage*/

 /* .pill-nav {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    font-family: LukiestGuy;
    font-size: 28px;
    border-radius: 5px;
    position: relative;
  }
  
  .pill-nav a:hover {
    background-color: #ddd;
    color: black;
    padding: 1rem;
  }
  
  .pill-nav a.active {
    background-color: orange;
    color: black;
    font-family: LukiestGuy;
    padding: 1rem;

  }*/

  .image1 {
    width: 30rem;
    height: auto;
  }

  img {
    max-width: 100%;
}


  #web {
    padding: 4rem;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-auto-rows: auto;
    gap: 2rem;
    font-family: LuckiestGuy; 
  }

article {
    border: solid rgb(44, 40, 40) 4px; 
    border-radius: 2px;
    margin-bottom: 1rem;
}

header {
  color: black;
  font-size: 45px;
  -webkit-text-stroke: black 0.1rem;
  }

  main {
    color: white;
    
}

footer {
  color: white;

}

aside {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-text-stroke: black 0.1rem;
}


.zoo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: LuckiestGuy;
  box-shadow: 6px 6px black;
}

.zoo-card div {
   height: 16rem;
   background-size: cover;
   background-position: center center;
}

.zoo-card footer {
   padding-top: 1rem;
   font-family: LuckiestGuy;
   background-color: #717171;
   display: flex;
   justify-content: end;
   flex: 1 1 auto;
   color: white;
   -webkit-text-stroke: black 0.01rem;
}

.zoo-card footer h2 {
   flex: 1 1 auto;
   padding: 1rem;
   overflow: hidden;
}

.zoo-card footer button {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}


#page {
  display: grid;
  grid-template-areas: 
  "header header header header"
  "aside aside aside aside"
  "main main main main"
  "footer footer footer footer"
  ;
  min-height: 200vh;
}

  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 30% auto; /* Center it */
    right: 20%;
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0.3rem; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white; /* Grey text */
    width: 56%; /* Full width */
    padding: 1rem; /* Some padding */
    -webkit-text-stroke: black 0.1rem;
  }

  form {
    display: flex;  
    flex-direction:column;
    height:100%;
    justify-content: space-around;
    padding: 2rem;
    background-color:rgb(44, 40, 40) ;
  }


  input[type=text] {
    width: 20%;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    
  }

  .modal-bg {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-bg > article {
    position: fixed;
    background-image: url(https://images.assetsdelivery.com/compings_v2/maximstepanov/maximstepanov1802/maximstepanov180200058.jpg);
    height: 70%;
    overflow: auto;
    width: 60vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    font-family: luckiestGuy;
    text-align: center;
}
/* this bit is the title of each encloser */
.modal-bg > article > main {
    background-color:black;
    flex: auto;
    margin-top:1.5rem;
    border:none;
    color:white;
    padding:none;
}

.modal-bg > article > footer {
    display: flex;
    justify-content: space-between;
    border:none;
    margin:1.5rem;
}

.modal-button {
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  padding: 0.5rem;
  background-color: orange;
  border-color: white;
  margin:1rem;
  margin-top:0;

  
}
.active, .modal-button:hover {
  background-color: #717171;
}

/* navigation bar */
ul {
  list-style-type: none;
  padding:0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-family: luckiestGuy;
  font-size: larger;
  -webkit-text-stroke: black 0.02rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: orange;
  padding-bottom: 2.1rem;
}
marquee {
  color: orange;
  font-size: 50px;
  width: 100%;
  text-align: center;
  font-family: luckiestGuy;
  text-shadow: 14px 14px 16px black;
  -webkit-text-stroke: black 0.1rem;
}

.accordion {
  background-color: grey;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: luckiestGuy;
  color:orange;
  font-size: 25px;
  text-shadow: 14px 14px 16px black;
  -webkit-text-stroke: 1px black;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion-species {
  padding: 12.5px;
  margin: 2px;
}


.active:after {
  content: "\2796"; 
}

.updateModalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;

}

.updateModalContainer.show{
  opacity: 1;
  pointer-events: auto;

}

.updateModal{
  position: absolute;
  border-radius: 5px;
  padding: 30px 50px;
  height: 70%;
  top: 10%;
  left: 40%;
  width: 600px;
  max-width: 100%;
  text-align: center;
  font-family: luckiestGuy;
  color: orange;
  font-size: 30px;
  text-shadow: 14px 14px 16px black;
  border: solid 3px black;
  -webkit-text-stroke: black 0.04rem;
}


.deleteModalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;


}

.deleteModalContainer.show{
  opacity: 1;
  pointer-events: auto;

}

.deleteModal{
  position: absolute;
  border-radius: 5px;
  padding: 30px 50px;
  top: 10%;
  left: 40%;
  width: 600px;
  max-width: 100%;
  text-align: left;
  font-family: luckiestGuy;
  color:orange;
  text-shadow: 14px 14px 16px black;
  font-size: 30px;
  border: solid 3px black;
  -webkit-text-stroke: black 0.04rem;
  
}

.panel {
padding: 0 18px;
background-color: rgb(44, 40, 40);
color: white;
max-height: 0;
overflow: scroll;
transition: max-height 0.2s ease-out;
}
.enclosurePhoto {
  width:35%;
  height:auto;
  justify-content: center;
}

.about{
  width: 50%;
  height: 50%;  
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;;
  border: black 0.2em solid;
 padding: 4rem;

}

.aboutPara{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: luckiestGuy;
  font-size: larger;
}

.inputBox{
  border: solid 1px orange;
  border-radius: 4px
}